<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>solution</key>
		<string>hay</string>
		<key>phrase</key>
		<string>En la mesa ____ tres manzanas.</string>
		<key>options</key>
		<array>
			<string>ay</string>
			<string>ahí</string>
			<string>hay</string>
		</array>
	</dict>
	<dict>
		<key>solution</key>
		<string>a ver</string>
		<key>phrase</key>
		<string>¡Vamos al cine _______ una película!</string>
		<key>options</key>
		<array>
			<string>aber</string>
			<string>haber</string>
			<string>a ver</string>
		</array>
	</dict>
	<dict>
		<key>solution</key>
		<string>hecho</string>
		<key>phrase</key>
		<string>Ya es tarde y no he ______ la tarea.</string>
		<key>options</key>
		<array>
			<string>echo</string>
			<string>hecho</string>
		</array>
	</dict>
	<dict>
		<key>solution</key>
		<string>árboles</string>
		<key>phrase</key>
		<string>A mi gato le gusta jugar en los _______.</string>
		<key>options</key>
		<array>
			<string>árboles</string>
			<string>arboles</string>
			<string>arvoles</string>
			<string>arbóles</string>
			<string>arvóles</string>
		</array>
	</dict>
	<dict>
		<key>solution</key>
		<string>sucio</string>
		<key>phrase</key>
		<string>Mi perro termina muy ______ después de jugar en el parque.</string>
		<key>options</key>
		<array>
			<string>susio</string>
			<string>suzio</string>
			<string>sucio</string>
		</array>
	</dict>
	<dict>
		<key>solution</key>
		<string>hacia</string>
		<key>phrase</key>
		<string>Me da flojera caminar _____ la cocina.</string>
		<key>options</key>
		<array>
			<string>asia</string>
			<string>hacia</string>
			<string>hasia</string>
		</array>
	</dict>
	<dict>
		<key>solution</key>
		<string>adolescencia</string>
		<key>phrase</key>
		<string>La _______ es una etapa muy difícil.</string>
		<key>options</key>
		<array>
			<string>adolescencia</string>
			<string>adolesencia</string>
			<string>adolecencia</string>
		</array>
	</dict>
	<dict>
		<key>solution</key>
		<string>silencio</string>
		<key>phrase</key>
		<string>Le pedí a mi compañero que guardara _______ mientras trabajo.</string>
		<key>options</key>
		<array>
			<string>silencio</string>
			<string>silensio</string>
			<string>cilensio</string>
		</array>
	</dict>
	<dict>
		<key>solution</key>
		<string>él</string>
		<key>phrase</key>
		<string>Traté de explicarle pero ___ no quiso escuchar.</string>
		<key>options</key>
		<array>
			<string>él</string>
			<string>el</string>
		</array>
	</dict>
	<dict>
		<key>solution</key>
		<string>lápices</string>
		<key>phrase</key>
		<string>¿Me prestas uno de tus ______?</string>
		<key>options</key>
		<array>
			<string>lapices</string>
			<string>lápices</string>
			<string>lápises</string>
		</array>
	</dict>
	<dict>
		<key>solution</key>
		<string>expresión</string>
		<key>phrase</key>
		<string>Ella usó una _______ que no comprendí.</string>
		<key>options</key>
		<array>
			<string>expresion</string>
			<string>expresión</string>
			<string>expreción</string>
		</array>
	</dict>
</array>
</plist>
